.page {
  min-width: 1100px;
  max-width: 1600px;
  margin: auto;
  font-family: "Arial", sans-serif;
  font-size: 16px;
  line-height: 20px;
}

.header {
  display: flex;
  flex-direction: column;
  height: 100vh;
  min-height: 720px;
  max-height: 800px;
  padding: 30px 80px 40px;
  position: relative;
  box-sizing: border-box;
}
.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
}

.nav__logo {
  width: 58px;
  height: 80px;
  object-fit: contain;
}

.nav__links {
  display: flex;
  column-gap: 20px;
  padding: 0;
  list-style: none;
}

.nav__link {
  color: #000000;
  text-decoration: none;
  font-weight: bold;
}
.header__content {
  display: flex;
  justify-content: end;
  font-size: 20px;
  line-height: 30px;
}

.header__title {
  font-size: 62px;
  line-height: 76px;
  font-weight: 500;
}

.header__description {
  max-width: 515px;
  margin-left: 0;
  gap: 40px;
}

.header__image {
  max-width: 636px;
}
.header__footer {
  margin-top: auto;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  box-sizing: border-box;
}
.header__link {
  color: #2f80ed;
  text-decoration: none;
}

.header__address {
  margin: 0;
  color: #838383;
}

.staff {
  /*background-position: center;
  background-repeat: repeat;
  background-size: cover;*/
  background-image: url("../images/staff_picks_background.jpg");
  padding: 100px 0 140px;
}

.staff__title {
  /* background-position: center;*/
  text-align: center;
  font-size: 44px;
  line-height: 52px;
  font-weight: 400;
  margin: 0 0 24px;
  color: #ffffff;
}
.staff__subtitle {
  text-align: center;
  font-size: 20px;
  line-height: 30px;
  font-weight: 400;
  margin: 0;
  color: #ffffff;
}
.staff__cards {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  max-width: 760px;
  margin: auto;
  padding-left: 0;
  gap: 40px;
  margin-top: 68px;
  list-style-type: none;
}

.card {
  width: 360px;
  height: 420px;
  background-color: #fff;
  border-radius: 6px;
  padding: 32px 40px 20px 32px;
  box-sizing: border-box;
  margin-top: auto;
}
.card__content {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}
.card__title {
  font-size: 20px;
  line-height: 30px;
  font-weight: 700;
  margin: 0;
}

.card__text {
  margin: 20px 0 0;
  font-size: 16px;
  line-height: 24px;
}

.card__footer {
  margin: 0;
  font-size: 14px;
  line-height: 20px;
  color: #838383;
}
.events {
  padding: 100px 0 120px 80px;
  display: flex;
  align-items: start;
  justify-content: space-between;
  box-sizing: border-box;
  background-color: #f2f2f2;
}

.events__content {
  flex-basis: 580px;
}

.events__heading {
  font-size: 20px;
  font-weight: 500;
  line-height: 30px;
  margin: 0;
}

.events__title {
  font-size: 44px;
  font-weight: 500;
  line-height: 52px;
  margin: 32px 0 0;
}

.events__info-section {
  margin-top: 32px;
}

.event-info__item {
  display: flex;
  align-items: center;
  margin-bottom: 4px;
  font-weight: 500;
}

.event-info__icon {
  background-repeat: no-repeat;
  background-position: center;
  margin-right: 12px;
  width: 24px;
  height: 24px;
}

.event-info__text {
  font-size: 20px;
  font-weight: 500;
  line-height: 30px;
  margin: 0;
}

.events__description {
  margin: 40px 0 60px;
}

.events__more {
  color: #2f80ed;
  text-decoration: none;
}

.events__cover {
  flex-grow: 1;
  flex-shrink: 0;
  flex-basis: 780px;
  max-width: 780px;
  position: relative;
}

.events__image {
  max-width: 100%;
}

.person {
  position: absolute;
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 10px;
}

.person_name_feynman {
  position: absolute;
  top: -30px;
  left: 319px;
}

.person_name_burbidge {
  position: absolute;
  top: 96px;
  right: 125px;
}

.person_name_cannon {
  position: absolute;
  right: 216px;
  bottom: 18px;
}

.person_name_mitchell {
  position: absolute;
  left: 142px;
  bottom: 82px;
}

.person_name_tarter {
  position: absolute;
  top: 79px;
  left: 159px;
}

.person__image {
  max-width: 100%;
}

.person__image_size_l {
  width: 140px;
}

.person__image_size_m {
  width: 100px;
}

.person__image_size_s {
  width: 80px;
}

.person__caption {
  text-align: center;
  font-size: 14px;
  margin: 0;
}
