.page {
  min-width: 1100px;
  max-width: 1600px;
  margin: auto;
  font-family: "Arial", sans-serif;
  font-size: 16px;
  line-height: 20px;
}

.header {
  display: flex;
  flex-direction: column;
  height: 100vh;
  min-height: 720px;
  max-height: 800px;
  padding: 30px 80px 40px;
  position: relative;
  box-sizing: border-box;
}
.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
}

.nav__logo {
  width: 58px;
  height: 80px;
  object-fit: contain;
}

.nav__links {
  display: flex;
  column-gap: 20px;
  padding: 0;
  list-style: none;
}

.nav__link {
  color: #000000;
  text-decoration: none;
  font-weight: bold;
}
.header__content {
  display: flex;
  justify-content: end;
  font-size: 20px;
  line-height: 30px;
}

.header__title {
  font-size: 62px;
  line-height: 76px;
  font-weight: 500;
}

.header__description {
  max-width: 515px;
  margin-left: 0;
  gap: 40px;
}

.header__image {
  max-width: 636px;
}
.header__footer {
  margin-top: auto;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  box-sizing: border-box;
}
.header__link {
  color: #2f80ed;
  text-decoration: none;
}

.header__address {
  margin: 0;
  color: #838383;
}

.staff {
  /*background-position: center;
  background-repeat: repeat;
  background-size: cover;*/
  background-image: url("../images/staff_picks_background.jpg");
  padding: 100px 0 140px;
}
.staff__title {
  /* background-position: center;*/
  text-align: center;
  font-size: 44px;
  line-height: 52px;
  font-weight: 400;
  margin: 0 0 24px;
  color: #ffffff;
}
.staff__subtitle {
  text-align: center;
  font-size: 20px;
  line-height: 30px;
  font-weight: 400;
  margin: 0;
  color: #ffffff;
}
.staff__cards {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  max-width: 760px;
  margin: auto;
  padding-left: 0;
  gap: 40px;
  margin-top: 68px;
  list-style-type: none;
}
.card {
  width: 360px;
  height: 420px;
  background-color: #fff;
  border-radius: 6px;
  padding: 32px 40px 20px 32px;
  box-sizing: border-box;
  margin-top: auto;
}
.card__content {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}
.card__title {
  font-size: 20px;
  line-height: 30px;
  font-weight: 700;
  margin: 0;
}

.card__text {
  margin: 20px 0 0;
  font-size: 16px;
  line-height: 24px;
}

.card__footer {
  margin: 0;
  font-size: 14px;
  line-height: 20px;
  color: #838383;
}
